.daily-word {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr repeat(3, auto) 1fr;
  grid-template-columns: minmax(auto, 80px) 1fr 1rem;
  grid-template-areas: ". . ."
                       "date word ."
                       "date definition ."
                       "date example ."
                       ". . .";

  border: 1px solid $separator-bg;
  margin: 0.5rem 0;
  padding: 1rem;

  border-radius: 5px;
  background: $daily-word-bg;

  .timestamp {
    grid-area: date;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    margin-right: 0.75rem;
    border-right: 1px solid black;

    .month, .day, .year {
      font-weight: 550;
    }

    .month {
      font-size: 22px;
    }

    .day {
      font-size: 26px;
    }

    .year {
      font-size: 20px;
    }
  }

  .word {
    grid-area: word;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
  }

  .definition {
    grid-area: definition;
  }

  .example {
    grid-area: example;
    font-weight: 300;
  }

  .definition, .example {
    padding: 0;
    margin: 0.2rem 0;
  }
}